# LIMPIEZA DEL DATASET

Como la data está bastante limpia, lo único que haré será cambiar las tres ciudades que aparecen por tres españolas. 
Además, incluiré dos datasets con las ventas de 'Bolso Viva' así como de los datos de sus clientes.

In [25]:
import pandas as pd
import numpy as np

## Supermarket

In [26]:
# guarda en variables los datasets y su fuente
df_1 = pd.read_csv(r'C:\Users\34690\Documents\THE BRIDGE\Repositorio\Repositorio_cambios_COPIA\2-Data_Analysis\Entregas\EDA_final\data\supermarket_sales - Sheet1.csv')
fuente_1 = "https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales/data"

In [27]:
#Ver la información de la data
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

Como no hay valores Null, los cambios a realizar serán para adecuar el Dataset al caso en cuestión.
Los valores de 'City' se cambian por ciudades españolas.

In [28]:
# Definir el diccionario de ciudades para realizar los cambios
cambio_ciudades = {'Naypyitaw': 'Madrid', 'Yangon': 'Santander', 'Mandalay': 'Valladolid'}

# Cambiar los valores en la columna 'City' utilizando el método replace()
df_1['City'] = df_1['City'].replace(cambio_ciudades)

# Imprimir el DataFrame para verificar los cambios
df_1

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Santander,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2023,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Madrid,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2023,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Santander,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2023,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Santander,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2023,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Santander,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2023,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Madrid,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2023,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Valladolid,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2023,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Santander,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2023,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Santander,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2023,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Santander,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2023,13:28,Cash,618.38,4.761905,30.9190,6.6

## Ventas y Clientes

Introducir los otros dos datasets:

In [40]:
df_2 = pd.read_excel(r'C:\Users\34690\Documents\THE BRIDGE\Repositorio\Repositorio_cambios_COPIA\2-Data_Analysis\Entregas\EDA_final\data\Libro2_limpia_ventas_online.xlsx', index_col=1)

df_2

,PedidoID,Mes,Año,Nombre Producto,Cantidad,Precio,Ingresos,Localidad,Metodo de Pago
ClienteID,,,,,,,,,
101,1,1,2023,Bolso Clasico,2,50,100,Madrid,PayPal
102,2,1,2023,Bolso Vintage,1,70,70,Valladolid,Tarjeta
103,3,1,2023,Bolso Elegante,3,60,180,Valencia,PayPal
104,4,2,2023,Bolso Boho,1,55,55,Sevilla,Bizum
105,5,2,2023,Bolso Casual,2,45,90,Bilbao,Tarjeta
106,6,2,2023,Bolso Chic,1,75,75,Malaga,PayPal
107,7,3,2023,Bolso Floral,2,65,130,Zaragoza,Tarjeta
108,8,3,2023,Bolso Playa,1,40,40,Granada,Bizum
109,9,3,2023,Bolso Deportivo,3,55,165,Murcia,PayPal
110,10,4,2023,Bolso Urbano,1,60,60,Alicante,Tarjeta
112,11,8,2023,Bolso Minimalista,2,50,100,Madrid,PayPal
102,12,11,2023,Bolso Bohemio,1,70,70,Valladolid,Tarjeta
103,13,2,2023,Bolso Clasico,3,50,150,Madrid,PayPal
104,14,1,2023,Bolso Vintage,1,70,70,Sevilla,Tarjeta
105,15,9,2023,Bolso Elegante,2,60,120,Valencia,PayPal
106,16,11,2023,Bolso Boho,1,55,55,Malaga,Bizum
107,17,6,2023,Bolso Casual,2,45,90,Bilbao,Tarjeta
108,18,6,2023,Bolso Chic,1,75,75,Malaga,PayPal
109,19,7,2023,Bolso Floral,2,65,130,Zaragoza,Tarjeta
110,20,7,2023,Bolso Playa,1,40,40,Granada,Bizum
113,21,7,2023,Bolso Deportivo,3,55,165,Santander,PayPal
114,22,8,2023,Bolso Urbano,1,60,60,Valladolid,Tarjeta
115,23,8,2023,Bolso Minimalista,2,50,100,Cordoba,PayPal
116,24,8,2023,Bolso Bohemio,1,70,70,Burgos,Tarjeta
117,25,9,2023,Bolso Clasico,2,50,100,Madrid,PayPal
118,26,9,2023,Bolso Vintage,1,70,70,Laredo,Tarjeta
119,27,9,2023,Bolso Elegante,3,60,180,Alicante,PayPal
120,28,10,2023,Bolso Boho,1,55,55,Lugo,Bizum
121,29,10,2023,Bolso Casual,2,45,90,Oviedo,Tarjeta
122,30,10,2023,Bolso Chic,1,75,75,Toledo,PayPal
101,31,11,2023,Bolso Floral,2,65,130,Madrid,Tarjeta
123,32,11,2023,Bolso Playa,1,40,40,Salamanca,Bizum
124,33,11,2023,Bolso Deportivo,3,55,165,Murcia,PayPal
125,34,12,2023,Bolso Urbano,1,60,60,Santander,Tarjeta
105,35,12,2023,Bolso Minimalista,2,50,100,Valencia,PayPal
111,36,2,2023,Bolso Bohemio,1,70,70,Madrid,Tarjeta
126,37,10,2023,Bolso Boho,1,55,55,Santiago,Bizum
127,38,10,2023,Bolso Casual,2,45,90,Castro,Tarjeta
127,39,10,2023,Bolso Chic,1,75,75,Castro,PayPal

In [42]:
df_3 = pd.read_excel(r'C:\Users\34690\Documents\THE BRIDGE\Repositorio\Repositorio_cambios_COPIA\2-Data_Analysis\Entregas\EDA_final\data\Libro1_limpia_clientes.xlsx', index_col=1)
df_3

        ClienteID   Apellido Fecha de Nacimiento  Genero   Localidad
Nombre
Maria         101     Garcia          1985-07-15   Mujer      Madrid
Laura         102      Lopez          1990-05-23   Mujer  Valladolid
Elena         103   Martinez          1988-11-10   Mujer    Valencia
David         104  Rodriguez          1980-03-05  Hombre     Sevilla
Andrea        105  Fernandez          1992-09-20   Mujer      Bilbao
Marta         106      Perez          1995-04-28   Mujer      Malaga
Sara          107    Sanchez          1983-12-07   Mujer    Zaragoza
Javier        108      Gomez          1987-08-18  Hombre     Granada
Paula         109       Diaz          1993-01-30   Mujer      Murcia
Laura         110       Ruiz          1989-06-12   Mujer    Alicante
Daniel        111   Gonzalez          1984-09-03  Hombre     Cordoba
Ana           112  Hernandez          1991-02-20   Mujer  Valladolid
Maria         113      Perez          1987-03-14   Mujer   Santander
Carlos        114     Martin          1986-11-25  Hombre  Valladolid
Laura         115  Gutierrez          1994-08-02   Mujer     Cordoba
David         116    Jimenez          1988-06-10  Hombre      Burgos
Elena         117       Ruiz          1990-12-05   Mujer      Madrid
Laura         118    Sanchez          1993-09-17   Mujer      Laredo
Javier        119  Rodriguez          1982-07-22  Hombre    Alicante
Maria         120      Lopez          1996-04-09   Mujer        Lugo
Ana           121   Martinez          1986-10-16   Mujer      Oviedo
Marta         122      Perez          1998-03-03   Mujer      Toledo
Pablo         123       Ruiz          1992-05-28  Hombre   Salamanca
Elena         124     Garcia          1989-08-11   Mujer      Murcia
Laura         125   Gonzalez          1995-01-19   Mujer   Santander
David         126       Ruiz          1987-09-07  Hombre    Santiago
Laura         127   Martinez          1993-06-25   Mujer      Castro